/* Try different box model properties below */

.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
  margin: 20px;
  padding: 5px;
}
.country {
  background-color: aliceblue;
  width: 350px;
  border: 15px solid white;
  padding: 28px;
  margin: 10px;
}
