/* Add your own CSS code below */
.countries--first {
  display: flex;
  flex-direction: row-reverse;
}
.countries--second {
  font-weight: bold;
}
.countries--third {
  display: flex;
  flex-direction: column-reverse;
}
